---
layout: default
title: music you love
---
<h2>preamble</h2>
<p>Welcome to yelyah v5, which looks exactly like yelyah v3!</p>
<p>If you like minimalist piano, I do a lot of that.</p>

<h2>listen to this</h2>
<p><em>a semi-random sampling of my faves</em></p>
{% include sample_songs.html %}
<hr />

<h2>music</h2>


{% for page in paginator.posts %}
  {{# include single_page.html }}
{% endfor %}

{% for page in site.categories.music limit:5 %}
 {% include single_page.html %}
{% endfor %}

<!--
<ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title | downcase }}</a></li>
    {% endfor %}
</ul>
-->

<!-- 
<h2>elsewhere</h2>
<a href="elsewhere.html">yelyah elsewhere</a>
-->