<ul>
  <!--
  <li><a href="http://media.yelyah.com/mp3/on_lily_pond_06-08-03.mp3"></a> on lily pond <em></em></li>
  <li><a href="http://media.yelyah.com/mp3/spilt_milk.mp3"></a> spilt milk <em></em></li>
  <li><a href="http://media.yelyah.com/mp3/air_and_water_03-29-02.mp3"></a> air and water</li>
  <li><a href="http://media.yelyah.com/mp3/cumulus.mp3"></a> cumulus <em></em></li>
  -->
  <li><embed type="application/x-shockwave-flash" src="http://t.yelyah.com/swf/audio_player.swf?audio_file=http://www.tumblr.com/audio_file/386895846/tumblr_kxrrx47sGR1qzo4ep&color=BDBDBD" height="27" width="207" quality="best"></embed> <span>since you've been gone</span></li>
  <li><embed type="application/x-shockwave-flash" src="http://t.yelyah.com/swf/audio_player.swf?audio_file=http://www.tumblr.com/audio_file/400065042/tumblr_ky4nijWMIe1qzo4ep&color=BDBDBD" height="27" width="207" quality="best"></embed> <span>half past midnight</span></li>
  <li><embed type="application/x-shockwave-flash" src="http://t.yelyah.com/swf/audio_player.swf?audio_file=http://www.tumblr.com/audio_file/504937322/tumblr_l0jkbtO01E1qzo4ep&color=BDBDBD" height="27" width="207" quality="best"></embed> <span>half life</span></li>
  <li><embed type="application/x-shockwave-flash" src="http://t.yelyah.com/swf/audio_player.swf?audio_file=http://www.tumblr.com/audio_file/45596103/tOBS2VaRkcj952lxS9KNfGkS&color=BDBDBD" height="27" width="207" quality="best"></embed> <span>cumulus</span></li>
  <li><embed type="application/x-shockwave-flash" src="http://t.yelyah.com/swf/audio_player.swf?audio_file=http://www.tumblr.com/audio_file/75787025/tOBS2VaRkjkio3fd5FIuZZDg&color=BDBDBD" height="27" width="207" quality="best"></embed> <span>liquid ice</span></li>
  
</ul>
