<h3 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2> 
  <div class="post post-{{ page.id }}">

    <!--
    <p class="author">
      Added by {{ page.author }}
      on {{ page.date | date: '%B %d, %Y' }}
      in {% for category in page.categories %}
       <a href="/{{category | downcase}}.html">{{category}}</a>
      {% endfor %}
      
    </p>
    -->
    
    
    
    <div class="entrybody">
      {% if page.tumblr_embed_source %}
      <p><embed type="application/x-shockwave-flash" src="{{ page.tumblr_embed_source }}&color={{ site.tumblr_embed_color }}" height="27" width="207" quality="best"></embed></p>
      {% endif %}
      <p>{{ page.content | strip_html | truncatewords: 25 }}
        <a href="{{ page.url }}">more &rarr;</a></p>
    </div>
    <hr width="25%"/>
  </div>