<html>
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/yelyah.com.css" />
  </head>
  
  <body>
    <div class="container_12">
      <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
      <hr />
      {{ content }}
    </div>
  </body>
</html>