<html>
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/yelyah.com.css" />
    
    <script type="text/javascript" src="http://static.delicious.com/js/playtagger.js"></script>
    <!-- <script type="text/javascript" src="http://o.aolcdn.com/art/merge?f=/_media/sp/sp-player.js&f=/_media/sp/sp-player-other.js&expsec=86400&ver=11"></script> -->
  </head>
  
  <body>
    <div class="container_16">
      <p class="grid_4 hack">spacing hack</p>
      <h1 class="grid_9 suffix_3">
      <a href="/">yelyah</a>
      </h1>
    </div>

    <div class="container_16">

    <!-- <div class="grid_8 prefix_2 suffix_6"> -->
      <div class="grid_8 prefix_2">

      {{ content }}



      </div>

      <div class="grid_4 suffix_2" id="sidebar_nav">

        <ul>
          <li class="first"><a href="/">/</a></li>
          <li><a href="/music.html">/music</a></li>
          <li><a href="/blog.html">/blog</a></li>
          <!-- <li><a href="/song-a-week/">/songaweek</a></li> -->
          <li><a href="http://t.yelyah.com">//tumblr</a></li>
        </ul>

      </div>

    </div>

    <hr />
    
    <div class="container_16">
      <div class="grid_4 prefix_2" id="footer">

        <h2>find me elsewhere</h2>
        
        <ul>
          <li><a href="http://twitter.com/yelyahdotcom" target="_blank">twitter</a>     </li>
          <li><a href="http://www.last.fm/music/yelyah" target="_blank">last.fm</a>   </li>
          <li><a href="http://alonetone.com/yelyah" target="_blank">alonetone</a>     </li>
          <li><a href="http://www.thesixtyone.com/yelyah/" target="_blank">thesixtyone</a></li>
          <li><a href="http://soundcloud.com/yelyah" target="_blank">soundcloud</a>   </li>
        </ul>

      </div>
    </div>
    
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-385734-4");
      pageTracker._trackPageview();
      } catch(err) {}</script>

    
    
    <!-- 
    <div class="container_12">
      <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
      <hr />
      CONTENT
    </div>
    
    -->
  </body>
</html>