---
layout: default
---

<h2>{{ page.title }}</h2>
{% if page.tumblr_embed_source %}
<p><embed type="application/x-shockwave-flash" src="{{ page.tumblr_embed_source }}&color={{ site.tumblr_embed_color }}" height="27" width="207" quality="best"></embed></p>
{% endif %}
<div id="post">
  {{ content }}
</div>

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

